@font-face {
    font-family: Myriad Pro;
    /*src: url(fonts/MYRIADPROREGULAR.woff);
    src: url(fonts/MYRIADPROREGULAR.eot);*/
    src: url(fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: calibri;
    src: url(fonts/calibri.woff);
}
@font-face {
    font-family: Gill Sans MT;
    src: url(fonts/GIL.ttf);
}
/* Normal ====================================*/
.font-A .india-logo .india-name{font-size:13px;}
.font-A .india-msg{font-size:13px;}
.font-A .header-title{font-size: 19px;}
.font-A .quick-link-header{font-size: 19px;}
.font-A .commodity-header{font-size: 19px;}
.font-A .sidebar-header-title{font-size: 19px;}
.font-A .natinal-agricul-market .header-title{font-size: 19px;}
.font-A .focus-news  .focus-news-feilds p{font-size: 13px;}
.font-A .quick-link-list li a{font-size: 13px;}
/*min ====================================*/
.font-A- .india-logo .india-name{font-size:12px;}
.font-A- .india-msg{font-size:12px;}
.font-A- .header-title{font-size: 17px;}
.font-A- .quick-link-header{font-size: 17px;}
.font-A- .commodity-header{font-size: 17px;}
.font-A- .sidebar-header-title{font-size: 17px;}
.font-A- .natinal-agricul-market .header-title{font-size: 17px;}
.font-A- .focus-news .focus-news-feilds p{font-size: 11px;}
.font-A- .quick-link-list li a{font-size: 10px;}
/*plus ====================================*/
.font-A-plus .india-logo .india-name{font-size:13px;}
.font-A-plus .india-msg{font-size:13px;}
.font-A-plus .header-title{font-size: 21px;}
.font-A-plus .quick-link-header{font-size: 21px;}
.font-A-plus .commodity-header{font-size: 21px;}
.font-A-plus .sidebar-header-title{font-size: 21px;}
.font-A-plus .natinal-agricul-market .header-title{font-size: 21px;}
.font-A-plus .focus-news  .focus-news-feilds p{font-size: 14px;}
.font-A-plus .quick-link-list li a{font-size: 14px;}
/*====================================*/

/*comman css*/
.f-left{float:left;}
.f-right{float:right;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}

/*header section*/

.header-section{min-height:85px;}
.india-logo {float:left;}
.india-logo img{padding:11px 11px 11px 25px;float:left;}
.india-logo .india-name{padding:15px 16px 0 0;font-family:Fujiyama2;float:left;color:#fff;}
.india-msg{border-left: 1px solid #f1f1f1;
    color: #fff;
    float: left;
    font-family: calibri;
    font-weight: bold;
    line-height: 14px;
    margin-top: 15px;
    padding-left: 16px;
    margin-bottom: 15px;
    text-align: left;}
.header-right-section{float:right;}
.header-right-list:first-child{border-left:0px solid #c8c8c8;}
.header-right-list{padding:7px 11px;margin-top:11px;float:left;min-height:65px;text-align:center;}

.font-size-change a{border: 1px solid #f0f0f0;

    font-weight: bold;
    padding: 1px 4px;
	margin-right:5px;margin-top:4px;float:left;min-width:23px;}
	
/*social site links section*/
.top-social-icon a{float:left;margin-left:10px;padding-top:0px;}
.fb-icon{float: left;height: 18px;width: 9px;background-image:url('img/fb-icon.png');background-position:0 0;}
.fb-icon:hover{background-position:9px 18px;}
.twit-icon{float: left;height: 19px;width: 25px;background-image:url('img/twit-icon.png');background-position:0 0;}
.twit-icon:hover{background-position:24px 19px;}
.rss-icon{float: left;height: 21px;width: 21px;background-image:url('img/rss-icon.png');background-position:0 0;}
.rss-icon:hover{background-position:21px 20px;}

.color-theme{padding-top:10px;float:left;}
.red-box{border:2px solid #dcdcdc;background-color:#b45834;height:17px;width:17px;float:left;margin-left:1px;}
.green-box{border:2px solid #dcdcdc;background-color:#6D9520;height:17px;width:17px;float:left;margin-left:5px;}
.orange-box{border:2px solid #dcdcdc;background-color:#E66100 ;height:17px;width:17px;float:left;margin-left:5px;}
.blue-box{border:2px solid #dcdcdc;background-color:#3F96DA;height:17px;width:17px;float:left;margin-left:5px;}
.language-bg-color{color:#fff;
    border: 1px solid #fff;
    font-size: 12px;}
/*menu bar css*/
.menu-section{background-color:#fff;    box-shadow: 0px 5px 8px #f5f3f3;}
.navigation{padding:0;margin:0;}
.navigation li{list-style:none;}
.navbar-default{border-color:#fff;}
.nav>li>a{padding:10px 20px;}
.navigation li a{color:#303030 !important ;font-family:calibri;font-size:15px !important;}
.navigation li a.active{color:#fff !important;}
.navigation li a:hover{color:#fff !important;}

/*slider*/
.slider img.banner{width:100%;background-position:center;}

/*marquee-section*/
.marquee-section{background-color:#fff;padding:0px 0;font-size:19px;font-family:calibri;line-height:20px;float: left;width: 100%;}
iframe body form .TickerBox{background-color:#ececec !important;}
.TickerBox table tbody tr td:first-child  {background-color:#000;}
.black-c-font{color:#545454;margin-left:10px;margin-right:10px;}
.blue-c-font{color:#3473b4;margin-right:7px;}
.orange-c-font{color:#b45834;margin-right:7px;}

/*Dashboard section*/
.natinal-agricul-market .header-title{color:#545454;
    font-family: calibri;
    margin-bottom: 15px;float:left;width:100%;padding-bottom:10px;}
.natinal-agricul-market table thead tr td{padding:6px;color:#fff;font-weight:400;text-align:center;}
.natinal-agricul-market table tbody tr td{padding:6px;color:#7a7a7a;font-weight:400;text-align:left;}
.natinal-agricul-market table tbody{background-color:#f5f5f5;}
.natinal-agricul-market table tbody tr.active{background-color:#e9e9e9;}


/*mid content*/
.mid-top-space{padding-top:30px;float:left;width:100%;}
.mid-bottom-space{padding-bottom:30px;}
.natinal-agricul-market .screen{width:100%;}
.commodity-graph-section{float:left;}
.commodity-graph-section .header-title{
    font-family: calibri;
    margin-bottom: 15px;float:left;width:100%;}
.commodity-graph-section img{float:left;width:100%;filter: brightness(100%);
    transition: all 1s ease 0s;}
.commodity-graph-section img:hover {
    filter: brightness(150%);
}
/* quick link section*/
.quick-link-header{color: #ffffff;
    font-family: calibri;float:left;width:100%;
       border-bottom: 2px solid #7a7a7a;}
.commodity-header{color: #545454;
    font-family: calibri;width:100%;}
.quick-link-header span{ background-color: #7a7a7a;float:left;    padding: 11px 30px 11px 11px;}
.quick-link-list{background-color:#f5f5f5;padding:15px;    width: 100%;
    float: left;margin-top:0;}
.quick-link-list ul{padding-left:0px;}
.quick-link-list li{padding:6px;border-bottom:1px solid #e7e7e7;list-style:none;}
.quick-link-list li:last-child{border-bottom:0px solid #eee;}
.quick-link-list li a{color:#545454;display:block;height:30px;}
.quick-link-list li:hover{background-color:#f1efef;}
.quick-link-list li a img{padding-right:10px;}
.commodity-list{background-color:#fff;/*padding:10px;margin-top:11px;*/}


.quick-img1{float: left;height: 29px;margin-right: 10px;width: 29px;}
.quick-img2{float: left;height: 24px;margin-right: 10px;width: 28px;}
.quick-img3{float: left;height: 29px;margin-right: 10px;width: 29px;}
.quick-img4{float: left;height: 26px;margin-right: 10px;width: 29px;}
.quick-img5{float: left;height: 27px;margin-right: 10px;width: 29px;}
.quick-img6{float: left;height: 25px;margin-right: 10px;width: 29px;}
.quick-img7{float: left;height: 25px;margin-right: 10px;width: 29px;}
.quick-img8{float: left;height: 25px;margin-right: 10px;width: 29px;}
.quick-img9{float: left;height: 25px;margin:0px 12px 0px -2px;width: 29px;}
.quick-img10{float: left;height: 25px;margin:0px 12px 0px -2px;width: 29px;}
.quick-img11{float: left;height: 25px;margin:0px 12px 0px -2px;width: 29px;}
.quick-img12{float: left;height: 25px;margin:0px 12px 0px -2px;width: 29px;}
.quick-img13{float: left;height: 25px;margin:0px 12px 0px -2px;width: 25px;}

/*sidebar css*/
.video-section,.photo-section,.focus-section{float:left;padding-bottom:20px;width:100%;}
	.focus-section{margin-top:15px;}
.sidebar-header-title{color:#fff;font-family: calibri;padding:12px;
   padding-bottom:10px;margin-bottom:15px;background-color:#515151;}
.view-more{font-family: calibri;
    font-size: 14px;padding:10px 0;}
.view-more a{color:#b45834;}

.focus-news{background-color:#f6f6f6;padding:12px;}
.focus-news-feilds{border-bottom:1px solid #eee;width:100%;    padding-bottom: 7px;
    margin-bottom: 10px;}/*float:left; comment*/
.focus-news-feilds p{color:#181818;margin-bottom:10px;}
.focus-news-feilds a{color:#be0000;margin-bottom:10px;}

/*Carousel Control*/
.thumbnail{border:0px;padding:0;}
.thumbnails .span3{  float: left;
    margin-right: 16px;
    width: 112px}
.thumbnails .span3 .caption h4{background-color:#b45834;color:#fff;padding:8px 2px;text-align:center; font-family: calibri;
    font-size: 13px;
    font-weight: bold;}
.carousel-control.left{background-color:#999;}
.carousel-control.right{background-color:#999;}

.control-box {
    text-align: right;
    width: 100%;
    }
.carousel-control{
        background: #fff;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }

/* Mobile Only */

@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}

/*footer section*/
.footer-section{background-color:#212121;min-height:50px;float: left;
    width: 100%;}
.footer-site-links{float:left;}
.footer-site-links li:last-child{ border-right: 0px solid #4f4f4f;}
.footer-site-links li{ border-right: 1px solid #4f4f4f;
    float: left;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 2px 25px;list-style:none;}
.footer-text-msg{padding-bottom:20px;color:#fff;}

.classvideo{width:261px; height:191px;}

/*default-theme**/
.register-icon{width: 100%;
    height: 37px;
    float: left;
    text-align: center;
    background-position: 41px 0px;
    background-repeat: no-repeat;}
.login-icon{width: 100%;
    height: 37px;
    float: left;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;}
.default-theme{background-color:#fff;}
.default-theme .header-section{background-color:#fff !important;}
.help-line img{float:left;}
.help-line-box{float:left;}
.help-line{margin-top:15px;}
.help-line-box span{margin-left:6px;}
.help-line .number{font-size:28px;font-family:Gill Sans MT;float:left;margin-top:5px;color:#4b4a4a;}
.lang-box{text-align:left;margin-top:13px;}
.lang-box span{color:#353535;font-family:calibri;font-size:14px;font-weight:600;float:left;margin-bottom:4px;}
.lang-box select{color:#fff;    padding: 2px 7px;
    margin-top: 4px;}
.mandis-links-btn-sec{position:absolute;bottom:30px;right:80px;float:left;/*width:50%;*/}
.mandis-links-btn-sec p{font-size: 18px;line-height:22px;font-family:calibri;
    text-align: justify;
    margin-bottom: 30px;
    color: #fff;}
.mandis-btn{    background:linear-gradient(#0b912e, #26be2d);float:left;margin-right:8px;    box-shadow: 0px 0px 7px #f3f6e6;
    padding: 7px 35px;    font-size: 19px;
    text-align: center;color:#fff;
    line-height: 29px;
    border-radius: 10px;
    border: 1px solid #fff;font-family:Myriad Pro;}
.mandis-btn:hover{    background:linear-gradient(#07661f, #26be2d);}
.user-register-btn:hover{background:linear-gradient(#639829, #8dd215);}	
.mandis-btn span{font-size: 25px;color:#000;
    line-height: 24px;}
.user-register-btn span{font-size: 25px;color:#ffea00;
    line-height: 24px;}
.user-register-btn{    background:linear-gradient(#73b031, #8dd215);float:left;    box-shadow: 0px 0px 7px #f3f6e6;
    padding: 14px 14px;    font-size: 25px;
    text-align: center;color:#fff;
    line-height: 29px;
    border-radius: 10px;
    border: 1px solid #fff;font-family:Myriad Pro;}
.events-title{margin-top:13px;
    padding-bottom: 10px;
    margin-bottom: 20px;float:left;width:100%;}
	.events-title span{    padding: 10px 80px 10px 10px;font-weight:600;
    color: #fff;
    font-size: 16px;}
.evideo-sec {}
.elearn-v-box{    background-color: #fff;border: 1px solid #fff;position:relative;
    min-height: 345px;margin-bottom:25px;}
.elearn-v-box:hover{background-color: #f2f2f2;box-shadow: 0px 1px 3px #c5c3c3;}
.elearn-v-box a{position:absolute;}
.y-links{position:absolute;}
	.elearn-v-box img{width:100%;}
.elearn-v-box h3{    font-size: 18px;padding:0px 10px;font-family:Myriad Pro;
    color: #1d1d1d;
    margin-bottom: 10px;}
.elearn-v-box p{    text-align: justify;padding:0px 10px;
    font-size: 13px;font-family:Myriad Pro;
    color: #484848;}
.enam-events-box{font-family:Myriad Pro;float:left;margin-bottom:20px;}
.enam-events-box img{width:100%;}
.enam-events-box span{color:#820000;float:left;    margin: 10px 0 8px 0;
    width: 100%;
    line-height: 16px;}
.enam-events-box h3{    font-size: 18px;line-height:24px;
    color: #222222;
    margin-bottom: 8px;
    float: left;
    width: 100%;
    margin-top: 0;}
.enam-events-box p{
    font-size: 14px;
    color: #545353;
    float: left;
    width: 100%;
    line-height: 21px;margin-bottom:0;}
.green-theme .enam-events-box p.p-date{color:#456a00 !important;}

.show-more{float:left;width:100%;margin-top:20px;margin-bottom:10px;}

.show-more a{background-color:#3f3f3f;color:#fff;padding:10px 40px;float:left;font-family:Myriad Pro;font-size:16px;}
.show-more a:hover{background-color:#2e2e2e;}
.live-mandi-box{position: absolute;
    top: 0;
    background-color: rgba(37, 36, 36, 0.8);
    padding: 7px 35px;
    color: #fff;
    font-family: Myriad Pro;
    font-size: 17px;}
.online-mandi-box{position: absolute;font-family:Myriad Pro;
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.8);
    padding: 12px 10px 7px 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;}
.online-mandi-box span,.offline-mandi-box span{float:left;margin-right:25px;line-height:19px;    font-size: 15px;
    font-weight: normal;}
.online-mandi-box span.online{width:15px;height:15px;background-color:#5d8809;float:left;margin-right:5px;}
.online-mandi-box span.offline{width:15px;height:15px;background-color:#ff0000;float:left;margin-right:5px;}
.register-user-box{   position: absolute;font-family:Myriad Pro;
    bottom: 0;
    background-color: rgba(41, 40, 40, 0.8);
    padding:  6px 10px 4px 14px;
    width: 102%;
    text-align: left;
    color: #fff;font-size:12px;line-height:20px;}
.carousel-caption{    right: 0%;text-shadow:none;
    left: 45%;}
.carousel-control.right,.carousel-control.left{background-image:none;}

#play-video{display: inline-block;
  margin-bottom: 20px;
  color: #000;
  font-family: Arial, sans-serif;}
.carousel-control.right, .carousel-control.left{    position: absolute;
    top: 50%;
    right: 0;
    background-color: transparent;
    width: 45px;
    padding: 0;
    height: 40px;
    overflow: hidden;}
.events-point li{list-style:disc;margin-left:15px;font-size:12px;line-height:18px;float:left;width:100%;}


/*20-03-18*/

.left-right-space{padding-left:2%;padding-right:2%;}
.content-section{min-height:500px;padding:40px 0;    float: left;    width: 100%;}
.navbar-nav>li>.dropdown-menu{padding-top:0px;padding-bottom:0px;}
.dropdown-menu>li>a{padding:6px 20px;}
.banner-section {float:left;width:100%;}
.banner-section img{float:left;width:100%}

.download-box a{font-size:20px;color:#5c4c4c;}
.download-box a i{margin-left:10px;}
.video-sec h4{margin-bottom:2px;    color: #5f5d5d;font-size: 16px;font-weight:600;}
.video-sec .discriptio{margin-bottom:5px;color:#a3a1a1;}